@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* Example: fonts */
  --font-sans: "Public Sans", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  /* Example: colors */
  --color-green-500: #00c16a;
  /* …other tokens… */
}
